TINC Game/Library/ArtifactDB
TINC Game/Library/CurrentLayout-default.dwlt
TINC Game/Library/expandedItems
TINC Game/Library/PackageManager/ProjectCache
TINC Game/Library/PackageManager/ProjectCache.md5
TINC Game/Library/SceneVisibilityState.asset
TINC Game/Library/SourceAssetDB
TINC Game/Logs/AssetImportWorker0-prev.log
TINC Game/Logs/AssetImportWorker0.log
TINC Game/Logs/shadercompiler-UnityShaderCompiler.exe0.log
TINC Game/Logs/shadercompiler-UnityShaderCompiler.exe1.log
TINC Game/Logs/shadercompiler-UnityShaderCompiler.exe2.log

TINC Game/Logs/
TINC Game/Library/
